<h1>Ruby App</h1>
<div>
    <h2>NFT <h2>
     
      <form onSubmit={getFormData}>
        <input
          type="text"
          placeholder="Enter Name"
          />
        <br /> <br />
        <select >
          <option>Categories</option>
          <option>Marvel</option>
          <option>DC</option>
        </select>
        <br /> <br />
        <input type="checkbox"  />
        <span>Accept Terms and Conditions </span>
        <br /> <br />
        <button type="submit">Submit</button>
      </form>
</div>
